* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.container {
	width: 100%;
}

.container main {
	background-color: rgb(224, 85, 20);
	min-width: 30px;
	max-width: 500px;
	margin: auto;
	margin-top: 30px;
	padding: 20px;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

main .search-bar input {
	width: 100%;
	font-size: 15px;
	padding: 6px 9px;
}

.single-todo input[type="checkbox"] {
	accent-color: white;
	scale: 1.1;
	margin-right: 6px;
	cursor: pointer;
}
.single-todo {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid rgb(224, 224, 224);
	padding-top: 10px;
	padding-bottom: 10px;
	color: rgb(36, 36, 36);
}
main .single-todo:nth-child(2) {
	border-top: 1px solid rgb(224, 224, 224);
	margin-top: 10px;
}

.action-btn button {
	padding: 6px 8px;
	cursor: pointer;
}

form {
	display: flex;
	padding-top: 10px;
}
form input {
	width: 100%;
	font-size: 13px;
	padding: 4px 9px;
}
form button {
	padding: 0 10px 0 10px;
	cursor: pointer;
}

.loading-section {
	height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	background-color: #fff;
	top: 0;
	left: 0;
	z-index: 999;
}
.loading-section img {
	width: 120px;
}
.strike {
	text-decoration: line-through;
	color: rgb(70, 70, 70);
}
